<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Користувача не знайдено</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body data-theme="<%= theme %>">
<div class="not-found-box">
  <h1 class="not-found-title">Ой! (Error 404) Такого користувача не існує 🤖</h1>
    <a href="/users" class="action-link">Назад до користувачів</a>
  </div>

<form action="/toggle-theme" method="POST" class="theme-toggle-form">
  <input type="hidden" name="returnTo" value="<%= req.originalUrl %>">
  <button type="submit">
    Перемкнути на <%= theme === 'dark' ? 'світлу' : 'темну' %> тему
  </button>
</form>
</body>
</html>