<!DOCTYPE html>
<html>
<head>
  <title>Новий пароль</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body data-theme="<%= theme %>">
<form action="/auth/forgot-password" method="POST">
  <h2>Відновлення пароля</h2>
  <input type="email" name="email" placeholder="Введіть ваш email" required>
  <button type="submit">Надіслати інструкцію</button>
</form>
</body>
</html>