<!DOCTYPE html>
<html>
<head>
  <title>Новий пароль</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body data-theme="<%= theme %>">
<h1 class="heading">Введіть новий пароль</h1>
<form action="/auth/reset-password/<%= token %>" method="POST">
  <h2>Новий пароль</h2>
  <input type="password" name="password" placeholder="Введіть новий пароль" required>
  <button type="submit">Зберегти пароль</button>
</form>
</body>
</html>